<div class="w-screen h-screen flex bg-black flex-col items-center">
    <div class="w-[80%]">
        <nav class="border-2 border-white rounded-md p-5">
            <ul class="flex items-center justify-evenly">
                <li class="text-white font-semibold">+ PROJECTS</li>
                <li class="text-white font-semibold">+ ABOUT ME</li>
                <li class="text-white font-semibold">+ SKILLS</li>
            </ul>
        </nav>
    </div>

    <div class="w-screen p-10 flex justify-center">
        <div class="w-[80%] h-auto p-7 grid-cols-2 bg-[#DA7188]">
            <div class="w-[50%] h-auto"><img src="/portfolio/public/assets/photo.png" alt=""></div>
            <div>
                <h2>Isabella Souza</h2>
                <h3>FullStack Developer</h3>
                <h4>ETEC de Hortolândia - <p>Técnico em Administração</p></h4>
                <p>2021 - 2023</p>
                <hr>
                <h2>SENAI "Roberto Mange" - <p>Desenvolvimento de Sistemas</p></h2>
                <p>2024 - 2025</p>
                <hr>
                <h4>Universidade São Francisco - <p>Engenharia de Software</p></h4>
                <p>2025 - Atualmente</p>
            </div>
            
        </div>
    </div>
    
</div>